In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# Zillow data - sales price by county
county_rental = pd.read_csv('data/County_Zri_SingleFamilyResidenceRental.csv') # Single family rentals
county_rental.head()

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-11,2010-12,2011-01,...,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06
0,3101,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,6,37,1,2176.0,2160.0,2153.0,...,2681,2691,2697,2702,2708,2716,2724,2732,2739,2742
1,139,Cook,IL,Chicago,17,31,2,1599.0,1599.0,1585.0,...,1744,1748,1747,1744,1737,1731,1726,1723,1720,1715
2,1090,Harris,TX,Houston,48,201,3,1300.0,1299.0,1297.0,...,1501,1503,1506,1508,1509,1510,1512,1513,1511,1507
3,2402,Maricopa,AZ,Phoenix,4,13,4,1247.0,1243.0,1233.0,...,1435,1438,1438,1436,1435,1435,1437,1438,1440,1439
4,2841,San Diego,CA,San Diego,6,73,5,2192.0,2184.0,2172.0,...,2669,2673,2671,2663,2656,2657,2667,2680,2688,2690

In [3]:
ca_rental = county_rental.copy(deep=True)
ca_rental = county_rental.loc[county_rental['State'] == 'CA']
ca_rental.head()

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-11,2010-12,2011-01,...,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06
0,3101,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,6,37,1,2176.0,2160.0,2153.0,...,2681,2691,2697,2702,2708,2716,2724,2732,2739,2742
4,2841,San Diego,CA,San Diego,6,73,5,2192.0,2184.0,2172.0,...,2669,2673,2671,2663,2656,2657,2667,2680,2688,2690
5,1286,Orange,CA,Los Angeles-Long Beach-Anaheim,6,59,6,2500.0,2500.0,2500.0,...,3178,3182,3179,3172,3165,3164,3169,3175,3179,3180
10,2832,Riverside,CA,Riverside,6,65,11,1689.0,1687.0,1686.0,...,1958,1969,1978,1982,1985,1988,1993,1996,1998,1998
11,3250,San Bernardino,CA,Riverside,6,71,12,1442.0,1434.0,1434.0,...,1679,1690,1697,1702,1709,1716,1727,1736,1743,1744

In [4]:
# Test out one month
county_rental.nlargest(15, '2018-06')

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-11,2010-12,2011-01,...,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06
249,625,Marin,CA,San Francisco,6,41,250,3518.0,3485.0,3394.0,...,4769,4766,4741,4699,4660,4620,4585,4556,4530,4513
824,491,Eagle,CO,Edwards,8,37,825,3141.0,3133.0,3129.0,...,3907,3886,3902,4002,4148,4318,4421,4466,4484,4487
79,2842,San Mateo,CA,San Francisco,6,81,80,2832.0,2806.0,2806.0,...,4203,4189,4156,4122,4088,4072,4072,4082,4091,4097
64,3227,San Francisco,CA,San Francisco,6,75,65,3221.0,3233.0,3183.0,...,4252,4257,4242,4211,4176,4149,4130,4111,4095,4085
19,2452,New York,NY,New York,36,61,20,NaN,NaN,NaN,...,4045,4045,4021,3968,3914,3870,3866,3870,3874,3858
16,3136,Santa Clara,CA,San Jose,6,85,17,2576.0,2559.0,2533.0,...,3689,3693,3678,3654,3632,3624,3628,3636,3641,3643
42,3148,Westchester,NY,New York,36,119,43,NaN,NaN,NaN,...,3587,3602,3602,3588,3567,3545,3527,3510,3499,3496
659,1214,Monroe,FL,Key West,12,87,660,NaN,NaN,NaN,...,3297,3368,3424,3445,3438,3429,3434,3452,3472,3483
1567,3272,Falls Church City,VA,Washington,51,610,1568,2684.0,2662.0,2648.0,...,3387,3393,3355,3309,3299,3313,3326,3312,3292,3283
21,1510,Alameda,CA,San Francisco,6,1,22,2200.0,2198.0,2189.0,...,3231,3236,3229,3217,3205,3200,3199,3200,3201,3201
287,2619,Arlington,VA,Washington,51,13,288,2948.0,3020.0,3137.0,...,3417,3392,3358,3320,3279,3242,3217,3201,3194,3189
5,1286,Orange,CA,Los Angeles-Long Beach-Anaheim,6,59,6,2500.0,2500.0,2500.0,...,3178,3182,3179,3172,3165,3164,3169,3175,3179,3180
243,3025,Santa Cruz,CA,Santa Cruz,6,87,244,2349.0,2320.0,2283.0,...,3155,3142,3111,3096,3095,3110,3108,3100,3087,3075
1288,699,Routt,CO,Steamboat Springs,8,107,1289,2404.0,2387.0,2358.0,...,3159,3136,3086,3009,2969,2963,2987,3011,3037,3066
134,1396,Sonoma,CA,Santa Rosa,6,97,135,1958.0,1949.0,1914.0,...,2735,2727,2717,2719,2761,2833,2910,2963,2989,3002

In [5]:
# Take average for 2018

county_rental['2018-avg'] = county_rental[['2018-01','2018-02','2018-03','2018-04','2018-05','2018-06']].mean(axis=1)
county_rental.nlargest(15, '2018-avg')

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-11,2010-12,2011-01,...,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-avg
249,625,Marin,CA,San Francisco,6,41,250,3518.0,3485.0,3394.0,...,4766,4741,4699,4660,4620,4585,4556,4530,4513,4577.333333
824,491,Eagle,CO,Edwards,8,37,825,3141.0,3133.0,3129.0,...,3886,3902,4002,4148,4318,4421,4466,4484,4487,4387.333333
64,3227,San Francisco,CA,San Francisco,6,75,65,3221.0,3233.0,3183.0,...,4257,4242,4211,4176,4149,4130,4111,4095,4085,4124.333333
79,2842,San Mateo,CA,San Francisco,6,81,80,2832.0,2806.0,2806.0,...,4189,4156,4122,4088,4072,4072,4082,4091,4097,4083.666667
19,2452,New York,NY,New York,36,61,20,NaN,NaN,NaN,...,4045,4021,3968,3914,3870,3866,3870,3874,3858,3875.333333
16,3136,Santa Clara,CA,San Jose,6,85,17,2576.0,2559.0,2533.0,...,3693,3678,3654,3632,3624,3628,3636,3641,3643,3634.000000
42,3148,Westchester,NY,New York,36,119,43,NaN,NaN,NaN,...,3602,3602,3588,3567,3545,3527,3510,3499,3496,3524.000000
659,1214,Monroe,FL,Key West,12,87,660,NaN,NaN,NaN,...,3368,3424,3445,3438,3429,3434,3452,3472,3483,3451.333333
1567,3272,Falls Church City,VA,Washington,51,610,1568,2684.0,2662.0,2648.0,...,3393,3355,3309,3299,3313,3326,3312,3292,3283,3304.166667
287,2619,Arlington,VA,Washington,51,13,288,2948.0,3020.0,3137.0,...,3392,3358,3320,3279,3242,3217,3201,3194,3189,3220.333333
21,1510,Alameda,CA,San Francisco,6,1,22,2200.0,2198.0,2189.0,...,3236,3229,3217,3205,3200,3199,3200,3201,3201,3201.000000
5,1286,Orange,CA,Los Angeles-Long Beach-Anaheim,6,59,6,2500.0,2500.0,2500.0,...,3182,3179,3172,3165,3164,3169,3175,3179,3180,3172.000000
243,3025,Santa Cruz,CA,Santa Cruz,6,87,244,2349.0,2320.0,2283.0,...,3142,3111,3096,3095,3110,3108,3100,3087,3075,3095.833333
411,3253,Alexandria City,VA,Washington,51,510,412,2661.0,2732.0,2800.0,...,3163,3133,3113,3095,3074,3048,3026,3012,3002,3042.833333
1288,699,Routt,CO,Steamboat Springs,8,107,1289,2404.0,2387.0,2358.0,...,3136,3086,3009,2969,2963,2987,3011,3037,3066,3005.500000

In [6]:
ca_rental['2018-avg'] = ca_rental[['2018-01','2018-02','2018-03','2018-04','2018-05','2018-06']].mean(axis=1)
ca_rental.nlargest(15, '2018-avg')

/Users/victoriacabales/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,RegionID,RegionName,State,Metro,StateCodeFIPS,MunicipalCodeFIPS,SizeRank,2010-11,2010-12,2011-01,...,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06,2018-avg
249,625,Marin,CA,San Francisco,6,41,250,3518.0,3485.0,3394.0,...,4766,4741,4699,4660,4620,4585,4556,4530,4513,4577.333333
64,3227,San Francisco,CA,San Francisco,6,75,65,3221.0,3233.0,3183.0,...,4257,4242,4211,4176,4149,4130,4111,4095,4085,4124.333333
79,2842,San Mateo,CA,San Francisco,6,81,80,2832.0,2806.0,2806.0,...,4189,4156,4122,4088,4072,4072,4082,4091,4097,4083.666667
16,3136,Santa Clara,CA,San Jose,6,85,17,2576.0,2559.0,2533.0,...,3693,3678,3654,3632,3624,3628,3636,3641,3643,3634.000000
21,1510,Alameda,CA,San Francisco,6,1,22,2200.0,2198.0,2189.0,...,3236,3229,3217,3205,3200,3199,3200,3201,3201,3201.000000
5,1286,Orange,CA,Los Angeles-Long Beach-Anaheim,6,59,6,2500.0,2500.0,2500.0,...,3182,3179,3172,3165,3164,3169,3175,3179,3180,3172.000000
243,3025,Santa Cruz,CA,Santa Cruz,6,87,244,2349.0,2320.0,2283.0,...,3142,3111,3096,3095,3110,3108,3100,3087,3075,3095.833333
134,1396,Sonoma,CA,Santa Rosa,6,97,135,1958.0,1949.0,1914.0,...,2727,2717,2719,2761,2833,2910,2963,2989,3002,2909.666667
425,255,Napa,CA,Napa,6,55,426,2066.0,2040.0,2014.0,...,2736,2769,2804,2831,2846,2859,2871,2881,2885,2862.166667
61,2061,Ventura,CA,Ventura,6,111,62,2336.0,2315.0,2296.0,...,2796,2798,2797,2800,2809,2823,2835,2842,2844,2825.500000
35,3159,Contra Costa,CA,San Francisco,6,13,36,1988.0,1978.0,1978.0,...,2802,2802,2799,2793,2786,2781,2775,2771,2768,2779.000000
0,3101,Los Angeles,CA,Los Angeles-Long Beach-Anaheim,6,37,1,2176.0,2160.0,2153.0,...,2691,2697,2702,2708,2716,2724,2732,2739,2742,2726.833333
4,2841,San Diego,CA,San Diego,6,73,5,2192.0,2184.0,2172.0,...,2673,2671,2663,2656,2657,2667,2680,2688,2690,2673.000000
232,3261,San Luis Obispo,CA,San Luis Obispo,6,79,233,2175.0,2144.0,2081.0,...,2480,2492,2503,2512,2517,2518,2513,2510,2506,2512.666667
156,2444,Monterey,CA,Salinas,6,53,157,1976.0,1949.0,1934.0,...,2475,2491,2496,2498,2501,2502,2502,2501,2501,2500.833333

In [ ]:
ca_rental[['']]

In [208]:
ca_rental.isnull().sum() # Mean ignores null values, so we're good

RegionID             0
RegionName           0
State                0
Metro                8
StateCodeFIPS        0
MunicipalCodeFIPS    0
SizeRank             0
2010-11              1
2010-12              1
2011-01              1
2011-02              1
2011-03              1
2011-04              1
2011-05              1
2011-06              1
2011-07              1
2011-08              1
2011-09              1
2011-10              1
2011-11              1
2011-12              1
2012-01              1
2012-02              1
2012-03              1
2012-04              0
2012-05              0
2012-06              0
2012-07              0
2012-08              0
2012-09              0
                    ..
2016-02              0
2016-03              0
2016-04              0
2016-05              0
2016-06              0
2016-07              0
2016-08              0
2016-09              0
2016-10              0
2016-11              0
2016-12              0
2017-01              0
2017-02              0
2017-03              0
2017-04              0
2017-05              0
2017-06              0
2017-07              0
2017-08              0
2017-09              0
2017-10              0
2017-11              0
2017-12              0
2018-01              0
2018-02              0
2018-03              0
2018-04              0
2018-05              0
2018-06              0
2018-avg             0
Length: 100, dtype: int64

In [233]:
state_rental_years = [] # 2010 to 2017
start = 2011
for i in range(7):
    year = []
    for j in range(12):
        if j < 9:
            month = '0'+str(j+1)
        else:
            month = str(j+1)
        year.append(str(start)+'-'+month)
    start += 1
    state_rental_years.append(year)

state_rental['2010-avg'] = state_rental[['2010-11','2010-12']].mean(axis=1)

curr_year = 2011
for y in state_rental_years:
    state_rental[str(curr_year)+"-avg"] = state_rental[y].mean(axis=1)
    curr_year += 1
state_rental.head()

,RegionID,RegionName,SizeRank,2010-11,2010-12,2011-01,2011-02,2011-03,2011-04,2011-05,...,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06
0,9,California,1,1991.0,1984.0,1971.0,1963.0,1953.0,1950.0,1950.0,...,2487,2495,2498,2499,2500,2502,2507,2511,2514,2516
1,54,Texas,2,1234.0,1228.0,1226.0,1221.0,1218.0,1216.0,1217.0,...,1445,1446,1447,1447,1446,1446,1447,1447,1447,1447
2,43,New York,3,1660.0,1662.0,1666.0,1671.0,1684.0,1697.0,1704.0,...,2057,2052,2045,2038,2034,2031,2030,2028,2024,2021
3,14,Florida,4,1293.0,1293.0,1291.0,1287.0,1279.0,1274.0,1270.0,...,1571,1565,1555,1552,1558,1570,1582,1589,1593,1593
4,21,Illinois,5,1452.0,1454.0,1450.0,1439.0,1423.0,1415.0,1414.0,...,1471,1476,1476,1469,1460,1453,1450,1449,1448,1448

In [230]:
state_rental['2018-avg'] = state_rental[['2018-01','2018-02','2018-03','2018-04','2018-05','2018-06']].mean(axis=1)
top10state_rental = state_rental.nlargest(10, '2018-avg')[['RegionName','2010-avg','2011-avg','2012-avg','2013-avg','2014-avg','2015-avg','2016-avg','2017-avg','2018-avg']]
top10state_rental.to_csv('data/top10_state_rentals.csv')

In [238]:
state_sales = pd.read_csv('data/State_Zhvi_SingleFamilyResidence.csv')
state_sales.head()

,RegionID,RegionName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,...,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04,2018-05,2018-06
0,9,California,1,166700.0,166400.0,166100.0,165800.0,165600.0,165400.0,165400.0,...,520900,524700,528200,531600,536400,541400,544100,545300,547000,548100
1,54,Texas,2,93700.0,93700.0,93700.0,93800.0,93900.0,94100.0,94200.0,...,177900,179000,179900,180600,181700,183000,184100,185000,186100,186900
2,43,New York,3,122100.0,121700.0,121400.0,121100.0,120900.0,120800.0,120800.0,...,256100,257300,258700,260300,262100,263400,264200,264700,264700,264300
3,14,Florida,4,87700.0,87800.0,87900.0,87900.0,88000.0,88200.0,88400.0,...,221700,223300,224700,225800,227600,230100,232000,233200,234900,236100
4,21,Illinois,5,117300.0,117800.0,118100.0,118100.0,117900.0,117400.0,116800.0,...,168900,169800,170800,171600,172500,173600,174200,174500,175200,175500

In [246]:
state_sale_years = [] # 2010 to 2017
start = 2010
for i in range(8):
    year = []
    for j in range(12):
        if j < 9:
            month = '0'+str(j+1)
        else:
            month = str(j+1)
        year.append(str(start)+'-'+month)
    start += 1
    state_sale_years.append(year)

curr_year = 2010
for y in state_sale_years:
    state_sales[str(curr_year)+"-avg"] = state_sales[y].mean(axis=1)
    curr_year += 1
state_sales['2018-avg'] = state_sales[['2018-01','2018-02','2018-03','2018-04','2018-05','2018-06']].mean(axis=1)
state_sales.head()

,RegionID,RegionName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,...,2018-06,2010-avg,2011-avg,2012-avg,2013-avg,2014-avg,2015-avg,2016-avg,2018-avg,2017-avg
0,9,California,1,166700.0,166400.0,166100.0,165800.0,165600.0,165400.0,165400.0,...,548100,336508.333333,315358.333333,316741.666667,370458.333333,414208.333333,441575.000000,474400.000000,543716.666667,512766.666667
1,54,Texas,2,93700.0,93700.0,93700.0,93800.0,93900.0,94100.0,94200.0,...,186900,130941.666667,128100.000000,127566.666667,131283.333333,138016.666667,147225.000000,160408.333333,184466.666667,175525.000000
2,43,New York,3,122100.0,121700.0,121400.0,121100.0,120900.0,120800.0,120800.0,...,264300,236625.000000,225283.333333,219208.333333,221891.666667,228125.000000,232283.333333,240983.333333,263900.000000,252666.666667
3,14,Florida,4,87700.0,87800.0,87900.0,87900.0,88000.0,88200.0,88400.0,...,236100,144950.000000,132825.000000,132675.000000,143766.666667,159125.000000,173833.333333,193325.000000,232316.666667,217250.000000
4,21,Illinois,5,117300.0,117800.0,118100.0,118100.0,117900.0,117400.0,116800.0,...,175500,155750.000000,143100.000000,135766.666667,139941.666667,146816.666667,153058.333333,159583.333333,174250.000000,167275.000000

In [247]:
state_sales.nlargest(10,'2010-avg')

,RegionID,RegionName,SizeRank,1996-04,1996-05,1996-06,1996-07,1996-08,1996-09,1996-10,...,2018-06,2010-avg,2011-avg,2012-avg,2013-avg,2014-avg,2015-avg,2016-avg,2018-avg,2017-avg
39,18,Hawaii,40,246900.0,244600.0,242200.0,239800.0,237600.0,235600.0,233900.0,...,729600,505000.000000,491175.000000,501508.333333,540508.333333,583350.000000,613916.666667,652025.000000,720066.666667,686383.333333
49,12,District of Columbia,50,121300.0,120800.0,120300.0,119900.0,119800.0,119900.0,120200.0,...,687000,374058.333333,373208.333333,392191.666667,443583.333333,496366.666667,546800.000000,598683.333333,677683.333333,650150.000000
0,9,California,1,166700.0,166400.0,166100.0,165800.0,165600.0,165400.0,165400.0,...,548100,336508.333333,315358.333333,316741.666667,370458.333333,414208.333333,441575.000000,474400.000000,543716.666667,512766.666667
13,26,Massachusetts,14,143200.0,143500.0,143900.0,144200.0,144600.0,145000.0,145500.0,...,407200,303166.666667,290941.666667,288683.333333,305575.000000,322316.666667,335100.000000,353716.666667,402216.666667,381583.333333
10,40,New Jersey,11,149000.0,148700.0,148400.0,148200.0,147900.0,147800.0,147700.0,...,326300,300400.000000,279433.333333,264908.333333,266908.333333,276866.666667,279675.000000,285041.666667,322666.666667,302291.666667
46,3,Alaska,47,124700.0,126400.0,128100.0,129800.0,131300.0,132600.0,133700.0,...,327600,296000.000000,297716.666667,297983.333333,306266.666667,310441.666667,320750.000000,322691.666667,326500.000000,323875.000000
28,11,Connecticut,29,140600.0,140200.0,139600.0,139100.0,138600.0,138300.0,138100.0,...,253500,250650.000000,236483.333333,226608.333333,228750.000000,232150.000000,231816.666667,235575.000000,251933.333333,243266.666667
18,27,Maryland,19,132900.0,132900.0,132900.0,132900.0,132900.0,132800.0,132800.0,...,295200,250358.333333,234800.000000,230950.000000,242325.000000,252050.000000,258325.000000,266650.000000,292033.333333,279691.666667
12,59,Washington,13,139100.0,139100.0,139200.0,139400.0,139700.0,140100.0,140600.0,...,379300,249358.333333,228341.666667,223683.333333,240208.333333,256350.000000,277566.666667,308950.000000,372616.666667,344433.333333
2,43,New York,3,122100.0,121700.0,121400.0,121100.0,120900.0,120800.0,120800.0,...,264300,236625.000000,225283.333333,219208.333333,221891.666667,228125.000000,232283.333333,240983.333333,263900.000000,252666.666667

In [250]:
top10state_sales = state_sales.nlargest(10,'2018-avg')[['RegionName','2010-avg','2011-avg','2012-avg','2013-avg','2014-avg','2015-avg','2016-avg','2017-avg','2018-avg']]
top10state_sales.to_csv('data/top10_state_sales.csv')

In [7]:
hist = pd.read_excel('data/201806 MedianPricesofExistingDetachedHomesHistoricalData.xlsx')
hist.head()
ca_hist = hist.copy(deep=True) # Save for later, just for CA

In [8]:
hist_t = hist.transpose()
hist_t.head()

,0,1,2,3,4,5,6,7,8,9,...,332,333,334,335,336,337,338,339,340,341
Mon-Yr,1990-01-01 00:00:00,1990-02-01 00:00:00,1990-03-01 00:00:00,1990-04-01 00:00:00,1990-05-01 00:00:00,1990-06-01 00:00:00,1990-07-01 00:00:00,1990-08-01 00:00:00,1990-09-01 00:00:00,1990-10-01 00:00:00,...,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00
CA,194952,196273,194856,196111,195281,194410,193088,192180,189979,187630,...,555410,546430,546820,549560,527780,522440,564830,584460,600860,602760
Alameda,226149,219306,225162,229333,232291,231250,232916,228467,225000,221093,...,853000,862450,880000,862000,840000,832000,955000,969300,1.025e+06,1.015e+06
Amador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,315000,309000,348950,305000,330000,318500,340000,335000,331500,NaN
Butte,102143,83333,100000,108000,100000,123043,113571,113333,117499,127142,...,311900,307700,315000,304000,314750,297000,315000,316000,324100,323000

In [9]:
hist_t = hist_t.drop('Mon-Yr')
hist_t.drop('CA',axis=0)

,0,1,2,3,4,5,6,7,8,9,...,332,333,334,335,336,337,338,339,340,341
Alameda,226149,219306,225162,229333,232291,231250,232916,228467,225000,221093,...,853000,862450,880000,862000,840000,832000,955000,969300,1.025e+06,1.015e+06
Amador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,315000,309000,348950,305000,330000,318500,340000,335000,331500,NaN
Butte,102143,83333,100000,108000,100000,123043,113571,113333,117499,127142,...,311900,307700,315000,304000,314750,297000,315000,316000,324100,323000
Calaveras,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,340000,298000,318000,285000,306500,311500,325000,340000,329000,313000
Contra-Costa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,605000,615000,615000,600000,555000,610000,655000,689660,687500,702372
Del Norte,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,224300,220000,214000,251500,198500,216500,200000,239000,214000,312500
El Dorado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,449950,445000,470000,450000,480000,468000,510000,499999,552000,525000
Fresno,82083.1,87186.8,83888.5,85428,88749.1,87999.2,91346,95178.1,92499.8,96891.2,...,265000,254950,264000,259750,245450,266440,264950,260000,279980,275500
Glenn,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,207500,215000,232000,230000,228500,219600,244500,215000,230000,227710
Humboldt,79641.9,83571.1,88888,83499.6,79061.6,94545,107692,94444,93999.6,91249.9,...,325000,305450,310000,319500,300000,291700,313500,309000,314900,331250
Kern,85892,80294,87758,80323,86562,87499,88780,86477,92812,87386,...,234700,229500,235000,233000,225500,237000,232500,235000,247750,245000
Kings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,223000,213500,230000,225000,238000,215000,238000,235000,235000,245000
Lake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,234250,257500,262000,269500,279000,234500,280000,285000,263400,298800
Lassen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,145500,160000,189000,175000,217750,280000,135000,155500,215000,212000
Los Angeles,215338,208399,208135,219004,209065,210606,225251,213478,211552,207801,...,606110,580360,530920,577920,564100,527280,528980,528540,536940,586090
Madera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,269900,251980,245000,245000,275000,255000,265000,244000,259000,268000
Marin,346153,338333,358571,359574,374999,394185,357291,365217,337500,351851,...,1.25e+06,1.2525e+06,1.23e+06,1.2689e+06,1.3175e+06,1.371e+06,1.3925e+06,1.385e+06,1.415e+06,1.415e+06
Mariposa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,299000,275000,250000,310000,276500,357000,279500,344850,324500,311000
Mendocino,140000,116666,111428,133333,138749,146000,164000,143333,147500,126000,...,419000,405000,374500,409500,425000,420000,379000,430000,420000,449000
Merced,83889,77499,85909,84285,100000,92000,116249,97222,96999,105000,...,260000,250000,255000,239900,257000,267850,257500,259000,262000,275000
Mono,93291,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,632500,715000,400000,515000,480000,830000,780000,520000,852500,570000
Monterey,233333,187856,230555,238095,259375,190833,196363,208823,192000,192727,...,569900,575000,618120,614000,571500,590000,625000,607750,677000,632500
Napa,178888,186363,180000,158571,187692,177332,184166,172499,177499,197777,...,632500,649000,682000,688000,662000,713500,675000,682500,702500,740000
Nevada,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,410000,388500,405750,393500,382000,400000,430000,408738,404000,452000
Orange,231274,233656,242312,239380,256401,244364,236109,234908,226250,229612,...,799000,786000,785000,785500,780000,805380,824450,818000,838000,835500
Placer,182220,182630,179470,200000,194610,187600,183890,205450,189170,185710,...,450000,455000,450000,451500,446000,472370,475500,489000,499650,510000
Plumas,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,275000,320000,302000,256000,265950,261500,353000,280250,310000,290000
Riverside,136832,136021,135835,134629,140823,139952,143127,143827,144070,139775,...,385700,382500,383000,385000,397250,396250,398000,400000,409925,405000
Sacramento,123000,126900,127500,135500,138000,142000,145000,142000,139000,136700,...,347750,349900,349900,350000,350000,350000,365000,369000,375000,375000
San Benito,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,508500,545000,649880,537000,555000,545000,586670,569217,579900,570400
San Bernardino,128806,124545,127017,131485,130538,130769,131481,129601,126497,126666,...,279000,274450,280000,278000,277000,278000,280000,289900,285000,293250
San Diego,180484,180714,183701,181567,180794,186733,185861,185639,186272,179444,...,605000,603000,619900,605000,590000,605000,625400,635000,640000,650000
San Francisco,287499,300877,290151,288725,282626,305738,296195,284523,278301,272500,...,1350000,1594000,1500000,1475000,1330000,1730000,1680000,1650000,1620000,1620000
San Joaquin,105000,102500,117692,112692,112778,112666,106999,118076,111667,122143,...,355000,340000,360500,349720,350000,365000,370000,374990,367855,377150
San Luis Obispo,227522,236377,216010,189246,199325,223021,213110,233727,206346,174677,...,607500,560000,615000,590000,565000,605000,610000,597505,638660,612500
San Mateo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.4005e+06,1.5225e+06,1.486e+06,1.5e+06,1.4375e+06,1.61e+06,1.615e+06,1.77e+06,1.6e+06,1.6505e+06
Santa Barbara,273071,259668,253301,217363,227609,269121,234261,210623,214462,214054,...,707000,653000,742000,730000,567000,755000,625000,650000,680000,753750
Santa Clara,271840,273100,275500,274660,266670,276960,273600,273340,258060,253470,...,1180000,1242500,1282500,1300000,1170000,1383500,1454500,1425000,1400000,1400000
Santa Cruz,250000,261607,260577,255263,262500,238461,234722,269078,256250,245833,...,845000,867000,870000,831000,790000,800000,910000,899000,865000,925000
Shasta,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,244900,255000,250000,258250,249000,255000,242500,258950,264000,281500
Siskiyou,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,187500,217500,189500,192500,193000,200000,226350,217250,210000,187500
Solano,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,422500,415000,410000,416000,425000,430000,445000,447500,451000,450000
Sonoma,174022,180294,178823,184117,185844,185333,185333,180270,182308,183414,...,620000,645000,655000,670000,670000,689000,685000,685000,698500,705000
Stanislaus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,295000,295000,298750,300000,295000,300000,308000,306000,325000,320000
Sutter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,275000,285000,270000,270000,284200,283500,281000,280000,281000,315000
Tehama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,191750,210000,224500,190000,227500,189000,222500,210000,197500,234900
Tulare,86999.3,84374.6,84210.1,88927.7,85999.4,88332.5,94411.3,92083.1,83749.6,90000,...,229950,225000,215000,219500,215730,225000,232500,229250,234950,234500
Tuolumne,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,282000,266000,325000,269900,265000,274000,292500,305000,300000,318500
Ventura,250410,235760,240320,230620,235320,242310,236920,231200,239930,238220,...,609000,635000,640000,645000,660720,609000,638500,665000,670000,675000
Yolo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,432000,445500,440000,420000,383000,397500,422500,495000,476500,450000
Yuba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,274900,271950,285000,241000,265360,269000,277900,285000,297500,292500
Unnamed: 53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Los Angeles Metropolitan Area,203390,211024,209286,210302,210148,209927,208582,199724,193597,199909,...,491130,492340,503790,495720,492450,498000,515000,515000,530000,539000
S.F. Bay Area,227366,234739,235337,233178,235881,240386,241503,237727,225569,227917,...,813520,892720,910350,885030,809900,875000,980000,1.01e+06,1.088e+06,1.07889e+06
Inland Empire,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,338640,342130,344020,345570,349710,350000,351450,360000,360000,360000

In [10]:
hist_t = hist_t.fillna(0)
test = [i for i in range(12)]
hist_t['1990-avg'] = hist_t[test].mean(axis=1) # Calculate avg for 1990
hist_t.head()

,0,1,2,3,4,5,6,7,8,9,...,333,334,335,336,337,338,339,340,341,1990-avg
CA,194952.000000,196273.0,194856.0,196111.0,195281.0,194410.000000,193088.00,192180.000000,189979.000,187630.0,...,546430.0,546820.0,549560.0,527780.0,522440.0,564830.0,584460.0,600860.0,602760.0,193096.250000
Alameda,226148.902299,219306.0,225162.0,229333.0,232291.0,231250.000000,232916.00,228467.000000,225000.000,221093.0,...,862450.0,880000.0,862000.0,840000.0,832000.0,954999.5,969300.0,1025000.0,1015000.0,226271.158525
Amador,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00,0.000000,0.000,0.0,...,309000.0,348950.0,305000.0,330000.0,318500.0,340000.0,335000.0,331500.0,0.0,0.000000
Butte,102142.750000,83333.0,100000.0,107999.6,100000.0,123043.326087,113570.75,113332.666667,117499.125,127142.5,...,307700.0,315000.0,304000.0,314750.0,297000.0,315000.0,316000.0,324100.0,323000.0,110949.657035
Calaveras,0.000000,0.0,0.0,0.0,0.0,0.000000,0.00,0.000000,0.000,0.0,...,298000.0,318000.0,285000.0,306500.0,311500.0,325000.0,340000.0,329000.0,313000.0,0.000000

In [11]:
hist_t.sort_values(by='1990-avg', ascending=False) # TODO: Compare 2018 to 1990 prices, account for inflation

,0,1,2,3,4,5,6,7,8,9,...,333,334,335,336,337,338,339,340,341,1990-avg
Marin,346153.000000,338333.000000,358571.000000,359574.000000,374999.000000,394185.000000,357291.000000,365217.000000,337500.000000,351851.000000,...,1252500.0,1230000.0,1268900.0,1317500.0,1371000.0,1392500.0,1385000.0,1415000.0,1415000.0,353222.833333
San Francisco,287499.000000,300877.000000,290151.000000,288725.000000,282626.000000,305738.000000,296195.000000,284523.000000,278301.000000,272500.000000,...,1594000.0,1500000.0,1475000.0,1330000.0,1730000.0,1680000.0,1650000.0,1620000.0,1620000.0,286763.416667
Santa Clara,271840.000000,273100.000000,275500.000000,274660.000000,266670.000000,276960.000000,273600.000000,273340.000000,258060.000000,253470.000000,...,1242500.0,1282500.0,1300000.0,1170000.0,1383500.0,1454500.0,1425000.0,1400000.0,1400000.0,267447.500000
Santa Cruz,250000.000000,261607.000000,260577.000000,255263.000000,262500.000000,238461.000000,234722.000000,269078.000000,256250.000000,245833.000000,...,867000.0,870000.0,831000.0,790000.0,800000.0,910000.0,899000.0,865000.0,925000.0,251772.416667
Ventura,250410.000000,235760.000000,240320.000000,230620.000000,235320.000000,242310.000000,236920.000000,231200.000000,239930.000000,238220.000000,...,635000.0,640000.0,645000.0,660720.0,609000.0,638500.0,665000.0,670000.0,675000.0,237306.666667
Orange,231273.890669,233655.576728,242312.497453,239380.494779,256401.384617,244364.418362,236108.837679,234907.662484,226249.954746,229611.738678,...,786000.0,785000.0,785500.0,780000.0,805380.0,824450.0,818000.0,838000.0,835500.0,235856.620670
Santa Barbara,273071.291179,259668.432093,253300.991913,217363.225250,227608.897910,269120.623441,234261.373153,210623.353685,214462.494693,214053.985473,...,653000.0,742000.0,730000.0,567000.0,755000.0,625000.0,650000.0,680000.0,753750.0,235432.690334
S.F. Bay Area,227365.834348,234739.457236,235336.501496,233178.496107,235881.361604,240385.705926,241503.003619,237727.081861,225568.577355,227917.148170,...,892720.0,910350.0,885030.0,809900.0,875000.0,980000.0,1010000.0,1088000.0,1078890.0,232637.984231
Alameda,226148.902299,219306.000000,225162.000000,229333.000000,232291.000000,231250.000000,232916.000000,228467.000000,225000.000000,221093.000000,...,862450.0,880000.0,862000.0,840000.0,832000.0,954999.5,969300.0,1025000.0,1015000.0,226271.158525
Los Angeles,215337.926006,208399.117906,208134.862749,219003.989632,209065.024168,210605.895742,225250.714143,213478.489676,211552.002447,207801.384318,...,580360.0,530920.0,577920.0,564100.0,527280.0,528980.0,528540.0,536940.0,586090.0,212016.806398
Monterey,233333.000000,187856.000000,230555.000000,238095.000000,259375.000000,190833.000000,196363.000000,208823.000000,192000.000000,192727.000000,...,575000.0,618120.0,614000.0,571500.0,590000.0,625000.0,607750.0,677000.0,632500.0,211587.583333
San Luis Obispo,227522.359311,236377.257623,216010.036342,189245.536376,199325.054453,223021.325919,213109.547593,233726.957519,206346.228473,174676.898616,...,560000.0,615000.0,590000.0,565000.0,605000.0,610000.0,597505.0,638660.0,612500.0,207186.046217
Los Angeles Metropolitan Area,203389.543331,211024.114600,209286.092622,210301.589421,210147.747929,209926.856260,208581.803736,199723.973010,193597.346361,199908.703722,...,492340.0,503790.0,495720.0,492450.0,498000.0,515000.0,515000.0,530000.0,539000.0,205423.959154
CA,194952.000000,196273.000000,194856.000000,196111.000000,195281.000000,194410.000000,193088.000000,192180.000000,189979.000000,187630.000000,...,546430.0,546820.0,549560.0,527780.0,522440.0,564830.0,584460.0,600860.0,602760.0,193096.250000
Placer,182220.000000,182630.000000,179470.000000,200000.000000,194610.000000,187600.000000,183890.000000,205450.000000,189170.000000,185710.000000,...,455000.0,450000.0,451500.0,446000.0,472370.0,475500.0,489000.0,499650.0,510000.0,190220.000000
San Diego,180484.000000,180714.000000,183701.000000,181567.000000,180794.000000,186733.000000,185861.000000,185639.000000,186272.000000,179444.000000,...,603000.0,619900.0,605000.0,590000.0,605000.0,625400.0,635000.0,640000.0,650000.0,182471.583333
Napa,178888.000000,186363.000000,180000.000000,158571.000000,187692.000000,177332.000000,184166.000000,172499.000000,177499.000000,197777.000000,...,649000.0,682000.0,688000.0,662000.0,713500.0,675000.0,682500.0,702500.0,740000.0,181239.750000
Sonoma,174022.000000,180294.000000,178823.000000,184117.000000,185844.000000,185333.000000,185333.000000,180270.000000,182308.000000,183414.000000,...,645000.0,655000.0,670000.0,670000.0,689000.0,685000.0,685000.0,698500.0,705000.0,181043.833333
Riverside,136832.042365,136021.271454,135835.177355,134629.071461,140823.471660,139951.653395,143126.614644,143827.170218,144070.083389,139775.123323,...,382500.0,383000.0,385000.0,397250.0,396250.0,398000.0,400000.0,409925.0,405000.0,139643.016818
Mendocino,140000.000000,116665.833333,111428.000000,133332.666667,138749.062500,145999.700000,163999.800000,143333.166667,147499.625000,125999.700000,...,405000.0,374500.0,409500.0,425000.0,420000.0,379000.0,430000.0,420000.0,449000.0,137278.322569
Sacramento,123000.000000,126900.000000,127500.000000,135500.000000,138000.000000,142000.000000,145000.000000,142000.000000,139000.000000,136700.000000,...,349900.0,349900.0,350000.0,350000.0,350000.0,365000.0,369000.0,375000.0,375000.0,135091.666667
San Bernardino,128806.000000,124545.000000,127017.000000,131485.000000,130538.000000,130769.000000,131481.000000,129601.000000,126497.000000,126666.000000,...,274450.0,280000.0,278000.0,277000.0,278000.0,280000.0,289900.0,285000.0,293250.0,129065.666667
San Joaquin,105000.000000,102500.000000,117692.000000,112692.000000,112778.000000,112666.000000,106999.000000,118076.000000,111667.000000,122143.000000,...,340000.0,360500.0,349720.0,350000.0,365000.0,370000.0,374990.0,367855.0,377150.0,112607.666667
Butte,102142.750000,83333.000000,100000.000000,107999.600000,100000.000000,123043.326087,113570.750000,113332.666667,117499.125000,127142.500000,...,307700.0,315000.0,304000.0,314750.0,297000.0,315000.0,316000.0,324100.0,323000.0,110949.657035
Merced,83889.000000,77499.000000,85909.000000,84285.000000,100000.000000,92000.000000,116249.000000,97222.000000,96999.000000,105000.000000,...,250000.0,255000.0,239900.0,257000.0,267850.0,257500.0,259000.0,262000.0,275000.0,94826.250000
Humboldt,79641.892857,83571.071429,88888.000000,83499.650000,79061.593750,94545.000000,107691.923077,94444.000000,93999.600000,91249.875000,...,305450.0,310000.0,319500.0,300000.0,291700.0,313500.0,309000.0,314900.0,331250.0,89606.024468
Fresno,82083.125000,87186.781250,83888.500000,85428.028571,88749.125000,87999.200000,91346.019231,95178.053571,92499.750000,96891.202703,...,254950.0,264000.0,259750.0,245450.0,266440.0,264950.0,260000.0,279980.0,275500.0,89581.997515
Tulare,86999.300000,84374.562500,84210.105263,88927.678571,85999.400000,88332.500000,94411.323529,92083.125000,83749.625000,90000.000000,...,225000.0,215000.0,219500.0,215730.0,225000.0,232500.0,229250.0,234950.0,234500.0,86661.973084
Kern,85892.000000,80294.000000,87758.000000,80323.000000,86562.000000,87499.000000,88780.000000,86477.000000,92812.000000,87386.000000,...,229500.0,235000.0,233000.0,225500.0,237000.0,232500.0,235000.0,247750.0,245000.0,86336.750000
Mono,93291.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,715000.0,400000.0,515000.0,480000.0,830000.0,780000.0,520000.0,852500.0,570000.0,7774.250000
Plumas,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,320000.0,302000.0,256000.0,265950.0,261500.0,353000.0,280250.0,310000.0,290000.0,0.000000
Solano,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,415000.0,410000.0,416000.0,425000.0,430000.0,445000.0,447500.0,451000.0,450000.0,0.000000
Amador,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,309000.0,348950.0,305000.0,330000.0,318500.0,340000.0,335000.0,331500.0,0.0,0.000000
Unnamed: 53,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
Yuba,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,271950.0,285000.0,241000.0,265360.0,269000.0,277900.0,285000.0,297500.0,292500.0,0.000000
Yolo,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,445500.0,440000.0,420000.0,383000.0,397500.0,422500.0,495000.0,476500.0,450000.0,0.000000
Calaveras,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,298000.0,318000.0,285000.0,306500.0,311500.0,325000.0,340000.0,329000.0,313000.0,0.000000
Tuolumne,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,266000.0,325000.0,269900.0,265000.0,274000.0,292500.0,305000.0,300000.0,318500.0,0.000000
Tehama,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,210000.0,224500.0,190000.0,227500.0,189000.0,222500.0,210000.0,197500.0,234900.0,0.000000
Sutter,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,285000.0,270000.0,270000.0,284200.0,283500.0,281000.0,280000.0,281000.0,315000.0,0.000000
Stanislaus,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,295000.0,298750.0,300000.0,295000.0,300000.0,308000.0,306000.0,325000.0,320000.0,0.000000
Contra-Costa,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,615000.0,615000.0,600000.0,555000.0,610000.0,655000.0,689660.0,687500.0,702372.5,0.000000
Siskiyou,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,217500.0,189500.0,192500.0,193000.0,200000.0,226350.0,217250.0,210000.0,187500.0,0.000000
Kings,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,213500.0,230000.0,225000.0,238000.0,215000.0,238000.0,235000.0,235000.0,245000.0,0.000000
Shasta,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,255000.0,250000.0,258250.0,249000.0,255000.0,242500.0,258950.0,264000.0,281500.0,0.000000
Del Norte,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,220000.0,214000.0,251500.0,198500.0,216500.0,200000.0,239000.0,214000.0,312500.0,0.000000
El Dorado,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,445000.0,470000.0,450000.0,480000.0,468000.0,510000.0,499999.0,552000.0,525000.0,0.000000
Mariposa,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,275000.0,250000.0,310000.0,276500.0,357000.0,279500.0,344850.0,324500.0,311000.0,0.000000
San Mateo,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1522500.0,1486000.0,1500000.0,1437500.0,1610000.0,1615000.0,1770000.0,1600000.0,1650500.0,0.000000
Glenn,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,215000.0,232000.0,230000.0,228500.0,219600.0,244500.0,215000.0,230000.0,227710.0,0.000000
Madera,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,251980.0,245000.0,245000.0,275000.0,255000.0,265000.0,244000.0,259000.0,268000.0,0.000000
Nevada,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,388500.0,405750.0,393500.0,382000.0,400000.0,430000.0,408737.5,404000.0,452000.0,0.000000
Lassen,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,160000.0,189000.0,175000.0,217750.0,280000.0,135000.0,155500.0,215000.0,212000.0,0.000000
San Benito,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,545000.0,649880.0,537000.0,555000.0,545000.0,586670.0,569217.0,579900.0,570400.0,0.000000
Lake,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,257500.0,262000.0,269500.0,279000.0,234500.0,280000.0,285000.0,263400.0,298800.0,0.000000
Inland Empire,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,342130.0,344020.0,345570.0,349710.0,350000.0,351450.0,360000.0,360000.0,360000.0,0.000000

In [12]:
ca_hist = ca_hist.transpose()
ca_hist.head()

,0,1,2,3,4,5,6,7,8,9,...,332,333,334,335,336,337,338,339,340,341
Mon-Yr,1990-01-01 00:00:00,1990-02-01 00:00:00,1990-03-01 00:00:00,1990-04-01 00:00:00,1990-05-01 00:00:00,1990-06-01 00:00:00,1990-07-01 00:00:00,1990-08-01 00:00:00,1990-09-01 00:00:00,1990-10-01 00:00:00,...,2017-09-01 00:00:00,2017-10-01 00:00:00,2017-11-01 00:00:00,2017-12-01 00:00:00,2018-01-01 00:00:00,2018-02-01 00:00:00,2018-03-01 00:00:00,2018-04-01 00:00:00,2018-05-01 00:00:00,2018-06-01 00:00:00
CA,194952,196273,194856,196111,195281,194410,193088,192180,189979,187630,...,555410,546430,546820,549560,527780,522440,564830,584460,600860,602760
Alameda,226149,219306,225162,229333,232291,231250,232916,228467,225000,221093,...,853000,862450,880000,862000,840000,832000,955000,969300,1.025e+06,1.015e+06
Amador,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,315000,309000,348950,305000,330000,318500,340000,335000,331500,NaN
Butte,102143,83333,100000,108000,100000,123043,113571,113333,117499,127142,...,311900,307700,315000,304000,314750,297000,315000,316000,324100,323000

In [13]:
ca_hist = ca_hist.filter(like='CA',axis=0)
ca_hist.head()

,0,1,2,3,4,5,6,7,8,9,...,332,333,334,335,336,337,338,339,340,341
CA,194952,196273,194856,196111,195281,194410,193088,192180,189979,187630,...,555410,546430,546820,549560,527780,522440,564830,584460,600860,602760

In [14]:
years = [] # 2005 to 2018
for i in range(28):
    years.append([j for j in range(i*12,(i*12)+12)])
years.append([j for j in range(335,342)]) # Add 2018 at the end

In [15]:
curr_year = 2005
for y in years:
    ca_hist["year_avg" + str(curr_year)] = ca_hist[y].mean(axis=1)
    curr_year += 1
ca_hist.head()

,0,1,2,3,4,5,6,7,8,9,...,year_avg2009,year_avg2010,year_avg2011,year_avg2012,year_avg2013,year_avg2014,year_avg2015,year_avg2016,year_avg2017,year_avg2018
CA,194952,196273,194856,196111,195281,194410,193088,192180,189979,187630,...,276700.0,305630.833333,287522.5,321747.5,407528.333333,448750.833333,475661.666667,502178.333333,537276.584198,564670.0

In [17]:
# Calculate percent change from 2005
avgs = ca_hist.filter(like='avg')
avgs.

,year_avg1990,year_avg1991,year_avg1992,year_avg1993,year_avg1994,year_avg1995,year_avg1996,year_avg1997,year_avg1998,year_avg1999,...,year_avg2009,year_avg2010,year_avg2011,year_avg2012,year_avg2013,year_avg2014,year_avg2015,year_avg2016,year_avg2017,year_avg2018
CA,193096.25,200736.833333,196947.5,188352.5,184345.25,177499.833333,177115.5,184738.416667,198916.75,216419.916667,...,276700.0,305630.833333,287522.5,321747.5,407528.333333,448750.833333,475661.666667,502178.333333,537276.584198,564670.0

In [3]:
ucla_data = pd.read_excel('data/Homless data by state.xlsx')
ucla_data.head()

,STATE,HL,HLUS,HV,RENT,MHI,HSG,DENSITY,TEM,Unnamed: 9,Variable,Description
0,y12_AL,0.108206,0.032094,123200,689,41574,0.201777,96,49.9,NaN,y12,2012 data
1,y12_AK,0.261759,0.026956,245100,1120,67712,0.196762,1,2.9,NaN,y17,2017 data
2,y12_AZ,0.172702,0.047171,151500,888,47826,0.342254,62,45.2,NaN,HL,Homeless rate
3,y12_AR,0.142886,0.088566,107600,640,40112,0.210526,58,44.1,NaN,HLUS,Unsheltered homeless rate
4,y12_CA,0.315889,0.195187,349400,1200,58328,0.130081,254,47.7,NaN,HV,Median home value

In [6]:
ucla_data.drop(['Variable','Description','Unnamed: 9'],axis=1)

     STATE        HL      HLUS      HV  RENT    MHI       HSG  DENSITY   TEM
0   y12_AL  0.108206  0.032094  123200   689  41574  0.201777       96  49.9
1   y12_AK  0.261759  0.026956  245100  1120  67712  0.196762        1   2.9
2   y12_AZ  0.172702  0.047171  151500   888  47826  0.342254       62  45.2
3   y12_AR  0.142886  0.088566  107600   640  40112  0.210526       58  44.1
4   y12_CA  0.315889  0.195187  349400  1200  58328  0.130081      254  47.7
5   y12_CO  0.323311  0.183328  234900   934  56765  0.237908       54  28.8
6   y12_CT  0.116991  0.019318  267800  1019  67276  0.078194      741  31.2
7   y12_DE  0.109939  0.002399  226900   960  58415  0.267030      494  39.9
8   y12_FL  0.285244  0.182707  148200   954  45040  0.256242      391  59.3
9   y12_GA  0.206999  0.123053  142300   837  47209  0.293640      181  49.7
10  y12_HI  0.448458  0.180934  496600  1379  66259  0.153382      222  74.0
11  y12_ID  0.123411  0.030476  154500   702  45489  0.298343       21  27.1
12  y12_IL  0.109827  0.023256  170600   868  55137  0.126728      231  31.6
13  y12_IN  0.095767  0.013602  122700   715  46974  0.147971      186  32.1
14  y12_IA  0.095239  0.004814  126300   661  50957  0.130486       56  26.1
15  y12_KS  0.093023  0.011576  130100   711  50241  0.135453       36  35.5
16  y12_KY  0.119306  0.020782  120800   636  41724  0.188352      113  38.1
17  y12_LA  0.168858  0.086145  139500   747  42944  0.181932      108  55.0
18  y12_ME  0.180182  0.002485  172300   744  46709  0.177400       43  18.3
19  y12_MD  0.160464  0.059609  279900  1170  71122  0.136418      624  37.0
20  y12_MA  0.262792  0.010841  323800  1036  65339  0.077519      879  29.9
21  y12_MI  0.127364  0.023486  115700   748  46859  0.113636      176  25.1
22  y12_MN  0.144002  0.018409  178400   813  58906  0.183047       70  18.5
23  y12_MS  0.080893  0.045961   99800   666  37095  0.218950       64  50.4
24  y12_MO  0.169958  0.038916  135000   706  45321  0.170316       89  35.8
25  y12_MT  0.182657  0.067761  184800   681  45076  0.188917        7  26.0
26  y12_NE  0.204274  0.044855  128300   692  50723  0.137395       25  30.0
27  y12_NV  0.308711  0.164474  150700   944  49760  0.412202       27  33.9
28  y12_NH  0.113254  0.012643  236000   967  63280  0.138173      150  23.3
29  y12_NJ  0.146643  0.017969  311600  1148  69667  0.103292     1225  35.3
..     ...       ...       ...     ...   ...    ...       ...      ...   ...
70  y17_MA  0.256056  0.014446  366900  1179  75297  0.107420      879  29.9
71  y17_MI  0.090852  0.010269  147100   818  52492  0.136364      176  25.1
72  y17_MN  0.137503  0.019869  211800   912  65599  0.228501       70  18.5
73  y17_MS  0.049328  0.024094  113900   728  41754  0.280410       64  50.4
74  y17_MO  0.101840  0.019514  151400   771  51746  0.216545       89  35.8
75  y17_MT  0.145551  0.051785  217200   741  50027  0.259446        7  26.0
76  y17_NE  0.130255  0.006250  148100   769  56927  0.194743       25  30.0
77  y17_NV  0.261271  0.152700  239500  1003  55180  0.488095       27  33.9
78  y17_NH  0.108431  0.012958  251100  1026  70936  0.170960      150  23.3
79  y17_NJ  0.094785  0.015701  328200  1244  76126  0.135074     1225  35.3
80  y17_NM  0.118866  0.038121  167500   804  46748  0.243781       17  38.5
81  y17_NY  0.450910  0.022948  302400  1194  62909  0.092896      421  26.0
82  y17_NC  0.087235  0.023858  165400   839  50584  0.347709      211  43.9
83  y17_ND  0.144163  0.043818  184100   776  60656  0.322751       11  19.6
84  y17_OH  0.086588  0.011228  140100   759  52334  0.137656      285  32.0
85  y17_OK  0.106821  0.028365  132200   744  49176  0.257862       57  42.6
86  y17_OR  0.336803  0.192311  287100  1015  57532  0.228501       43  35.1
87  y17_PA  0.110405  0.014041  174100   881  56907  0.124859      286  29.8
88  y17_RI  0.111359  0.006512  247700   948  60596  0.081081     1025  32.7
89  y17_SC  0.077940  0.029874  153900   841  49501  0.353180      167  47.9
90  y17_SD  0.108432  0.019663  160700   706  54467  0.282051       11  25.3
91  y17_TN  0.123720  0.041170  157700   806  48547  0.282051      163  41.9
92  y17_TX  0.083195  0.030006  161500   956  56565  0.396648      108  49.8
93  y17_UT  0.091946  0.008962  250300   954  65977  0.398601       38  30.5
94  y17_VT  0.196422  0.021486  223700   925  57677  0.179245       68  20.9
95  y17_VA  0.071629  0.011901  264000  1159  68114  0.254705      214  38.8
96  y17_WA  0.285076  0.116005  306400  1135  67106  0.265823      111  31.6
97  y17_WV  0.072087  0.010353  117900   682  43385  0.187648       76  34.2
98  y17_WI  0.086740  0.005867  173200   802  56811  0.187648      107  20.8
99  y17_WY  0.150695  0.062660  209500   840  59882  0.267427        6  25.2

[100 rows x 9 columns]

In [17]:
HL = ucla_data['HL'].tolist() # get homeless rate for JavaScript visualization

In [18]:
HV = ucla_data['HV'].tolist() # median home value

In [19]:
RENT = ucla_data['RENT'].tolist() # median rent value

In [20]:
STATE = ucla_data['STATE'].tolist() # list of states

In [29]:
homeless_rent = [[RENT[i], HL[i]] for i in range(100)]
print (homeless_rent)

[[689, 0.108206], [1120, 0.261759], [888, 0.172702], [640, 0.142886], [1200, 0.315889], [934, 0.323311], [1019, 0.116991], [960, 0.109939], [954, 0.285244], [837, 0.206999], [1379, 0.448458], [702, 0.123411], [868, 0.109827], [715, 0.095767], [661, 0.095239], [711, 0.093023], [636, 0.119306], [747, 0.168858], [744, 0.180182], [1170, 0.160464], [1036, 0.262792], [748, 0.127364], [813, 0.144002], [666, 0.080893], [706, 0.169958], [681, 0.182657], [692, 0.204274], [944, 0.308711], [967, 0.113254], [1148, 0.146643], [753, 0.155741], [1079, 0.354469], [756, 0.138632], [644, 0.098092], [700, 0.121045], [686, 0.13189], [862, 0.40648], [798, 0.115413], [878, 0.1213], [754, 0.104153], [651, 0.103174], [730, 0.146125], [831, 0.130576], [851, 0.123571], [860, 0.18542], [1068, 0.102874], [954, 0.297552], [607, 0.129894], [743, 0.105347], [742, 0.314425], [743, 0.077809], [1208, 0.249393], [976, 0.127518], [701, 0.082116], [1375, 0.339629], [1171, 0.195108], [1115, 0.094421], [1048, 0.103333], [1086, 0.1534], [933, 0.097551], [1483, 0.505766], [790, 0.118641], [950, 0.084346], [768, 0.081568], [741, 0.087611], [789, 0.072019], [707, 0.090364], [808, 0.070554], [797, 0.170671], [1314, 0.119742], [1179, 0.256056], [818, 0.090852], [912, 0.137503], [728, 0.049328], [771, 0.10184], [741, 0.145551], [769, 0.130255], [1003, 0.261271], [1026, 0.108431], [1244, 0.094785], [804, 0.118866], [1194, 0.45091], [839, 0.087235], [776, 0.144163], [759, 0.086588], [744, 0.106821], [1015, 0.336803], [881, 0.110405], [948, 0.111359], [841, 0.07794], [706, 0.108432], [806, 0.12372], [956, 0.083195], [954, 0.091946], [925, 0.196422], [1159, 0.071629], [1135, 0.285076], [682, 0.072087], [802, 0.08674], [840, 0.150695]]

In [30]:
print(STATE)

['y12_AL', 'y12_AK', 'y12_AZ', 'y12_AR', 'y12_CA', 'y12_CO', 'y12_CT', 'y12_DE', 'y12_FL', 'y12_GA', 'y12_HI', 'y12_ID', 'y12_IL', 'y12_IN', 'y12_IA', 'y12_KS', 'y12_KY', 'y12_LA', 'y12_ME', 'y12_MD', 'y12_MA', 'y12_MI', 'y12_MN', 'y12_MS', 'y12_MO', 'y12_MT', 'y12_NE', 'y12_NV', 'y12_NH', 'y12_NJ', 'y12_NM', 'y12_NY', 'y12_NC', 'y12_ND', 'y12_OH', 'y12_OK', 'y12_OR', 'y12_PA', 'y12_RI', 'y12_SC', 'y12_SD', 'y12_TN', 'y12_TX', 'y12_UT', 'y12_VT', 'y12_VA', 'y12_WA', 'y12_WV', 'y12_WI', 'y12_WY', 'y17_AL', 'y17_AK', 'y17_AZ', 'y17_AR', 'y17_CA', 'y17_CO', 'y17_CT', 'y17_DE', 'y17_FL', 'y17_GA', 'y17_HI', 'y17_ID', 'y17_IL', 'y17_IN', 'y17_IA', 'y17_KS', 'y17_KY', 'y17_LA', 'y17_ME', 'y17_MD', 'y17_MA', 'y17_MI', 'y17_MN', 'y17_MS', 'y17_MO', 'y17_MT', 'y17_NE', 'y17_NV', 'y17_NH', 'y17_NJ', 'y17_NM', 'y17_NY', 'y17_NC', 'y17_ND', 'y17_OH', 'y17_OK', 'y17_OR', 'y17_PA', 'y17_RI', 'y17_SC', 'y17_SD', 'y17_TN', 'y17_TX', 'y17_UT', 'y17_VT', 'y17_VA', 'y17_WA', 'y17_WV', 'y17_WI', 'y17_WY']

In [31]:
homeless_hv = [[HV[i], HL[i]] for i in range(100)]
print (homeless_hv)

[[123200, 0.108206], [245100, 0.261759], [151500, 0.172702], [107600, 0.142886], [349400, 0.315889], [234900, 0.323311], [267800, 0.116991], [226900, 0.109939], [148200, 0.285244], [142300, 0.206999], [496600, 0.448458], [154500, 0.123411], [170600, 0.109827], [122700, 0.095767], [126300, 0.095239], [130100, 0.093023], [120800, 0.119306], [139500, 0.168858], [172300, 0.180182], [279900, 0.160464], [323800, 0.262792], [115700, 0.127364], [178400, 0.144002], [99800, 0.080893], [135000, 0.169958], [184800, 0.182657], [128300, 0.204274], [150700, 0.308711], [236000, 0.113254], [311600, 0.146643], [157500, 0.155741], [280900, 0.354469], [150100, 0.138632], [142500, 0.098092], [127600, 0.121045], [114300, 0.13189], [223900, 0.40648], [163800, 0.115413], [234600, 0.1213], [135500, 0.104153], [134300, 0.103174], [137800, 0.146125], [129200, 0.130576], [199700, 0.123571], [216900, 0.18542], [237800, 0.102874], [243000, 0.297552], [100400, 0.129894], [165200, 0.105347], [187400, 0.314425], [136200, 0.077809], [267800, 0.249393], [205900, 0.127518], [123300, 0.082116], [477500, 0.339629], [314200, 0.195108], [274600, 0.094421], [243400, 0.103333], [197700, 0.1534], [166800, 0.097551], [592000, 0.505766], [189400, 0.118641], [186500, 0.084346], [134800, 0.081568], [142300, 0.087611], [144900, 0.072019], [135600, 0.090364], [158000, 0.070554], [184700, 0.170671], [306900, 0.119742], [366900, 0.256056], [147100, 0.090852], [211800, 0.137503], [113900, 0.049328], [151400, 0.10184], [217200, 0.145551], [148100, 0.130255], [239500, 0.261271], [251100, 0.108431], [328200, 0.094785], [167500, 0.118866], [302400, 0.45091], [165400, 0.087235], [184100, 0.144163], [140100, 0.086588], [132200, 0.106821], [287100, 0.336803], [174100, 0.110405], [247700, 0.111359], [153900, 0.07794], [160700, 0.108432], [157700, 0.12372], [161500, 0.083195], [250300, 0.091946], [223700, 0.196422], [264000, 0.071629], [306400, 0.285076], [117900, 0.072087], [173200, 0.08674], [209500, 0.150695]]

In [ ]:
# Homelessness by county, county population, median rent, median home value